:root {
  --clr-accent-100: 212 45 89;
  --clr-accent-200: 216 15 48;
  --clr-accent-300: 218 44 22;

  --clr-white: 0 0 100;

  --ff-sans: "Outfit", sans-serif;

  --fs-500: 2.2rem;
  --fs-400: 1.5rem;

  --fw-bold: 700;
  --fw-regular: 400;

  --spacing-100: 1.6rem;
  --spacing-200: 2.4rem;
  --spacing-300: 4rem;
}

/* === reset === */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;

  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  background-color: hsl(var(--clr-accent-100));

  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* === end of reest === */

.card {
  --border-radius: 2rem;

  padding: var(--spacing-100);
  padding-bottom: var(--spacing-300);
  width: 32rem;

  text-align: center;
  border-radius: var(--border-radius);
  background-color: hsl(var(--clr-white));

  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);

  & .card__image {
    width: 28.8rem;
    border-radius: calc(var(--border-radius) / 2);
    margin-bottom: var(--spacing-200);
    aspect-ratio: 1;
  }

  & .card__title,
  & .card__description {
    padding-inline: var(--spacing-100);
    font-feature-settings: "liga" off, "clig" off;
  }

  & .card__title {
    margin-bottom: var(--spacing-100);

    color: hsl(var(--clr-accent-300));
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    line-height: 120%;
  }

  & .card__description {
    color: hsl(var(--clr-accent-200));
    font-size: var(--fs-400);
    line-height: 140%;
    letter-spacing: 0.2px;
  }
}
